@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
}

:root {
    --color-primary: #5044E5;
}

.animate-spin-slow {
  animation: spin-slow 20s linear infinite;
}